.imageType {
    margin-top: -27px;
    position: relative;
}

.itemTitle {
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 0 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemDescription {
    margin: 10px;
    height: 4rem;
    text-align: center;
    color: #bdbcbc;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemDate {
    color: #7c7c7c;
    margin-bottom: 10px;
}

.itemPrice {
    font-weight: 600;
    font-size: 18px;
    color: #3f3f3f;
    display: block;
    padding-top: 15px;
    padding-bottom: 10px;
}

.itemPrice::after {
    content:" \20BD"; 
}

