.advertWrapper{
    padding-top: 20px;
    display: flex;
    width: 1200px;
}

/* Advert info */

.itemRightInfo{
    margin-left: 30px;
    margin-right: 30px;
}

.itemType {
    margin-top: -54px;
}

.itemAdvertInfo {
    padding: 30px 30px;
    text-align: center;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}

.itemTitle {
    padding-top: 20px;
    font-size: 30px;
}

.itemDate {
    font-size: 18px;
}

.itemPrice {
    padding-top: 20px;
    font-size: 23px;
    font-weight: 700;
}

/* User info */

.itemUserInfo {
    font-weight: 600;
    padding: 30px 30px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.05);
}

.itemUserInfo a {
    text-decoration: none;
}

.itemUserInfo a:hover {
    text-decoration: underline;
}

.itemName {
    font-size: 30px;
    margin-bottom: 20px;
}

.itemNumbers{
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.itemRating {
    font-weight: 400;
}

.itemControl{
    align-items: center;
    display: flex;
    max-height: 70px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.05);
    padding: 15px 30px;
}

.itemControl a {
    margin-top: 5px;
    margin-right: 30px;
    text-decoration: none;
}

.itemControl a:hover {
    text-decoration: underline;
}

.itemMainInfo {
    margin-right: auto;
    margin-left: 20px;
    width: 850px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.05);
}

.itemGallery {
    margin-bottom: 40px;
}

.itemTitle {
    text-align: center;
    font-size: 30px;
}
