.advertWrapper{
    padding-top: 20px;
    display: flex;
    min-width: 1200px;
}

.searchArea {
    box-sizing: border-box;
    display: block;
    width: 300px;
    padding-right: 30px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 20px;
}

.Default {
    margin-left: auto;
    margin-right: 10px;
}

.searchButton {
    word-spacing: 4px;
    text-align: center;
}

.titleSector {
    margin-bottom: 20px;
}

.advertArea {
    /* margin-left: auto; */
    /* max-width: 900px; */
}

.precisionSearchArea {
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    /* box-shadow: 0 0 15px 4px rgba(0,0,0,0.05); */
    width: 1000px;
}

.item {
    margin-left: 10px;
    margin-right: 10px;
}

.paramsInputPrice {
    display: flex;
}