.advertWrapper{
    padding: 30px 60px;
    display: table;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.05);
}

.itemTitle{  
    text-align: start;
    margin: 5px 5px 20px;
}

.itemField{
    text-align: start;
}

.itemFileArea {
    padding: 20px 20px;
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: #F9F8F8;
    border : 1px solid #F2F2F2;
}

.titleWord{
    text-align: center;
    padding: 0 0 22px;
    font-size: 40px;
}

.imagePreviewArea {
    margin: 5px;
    text-align: center;
    background-color: #F9F8F8;
    padding: 9px;
    border : 1px solid #F2F2F2;
    display: inline-block;
}

.imagePreviewArea img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.previewButton {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;
    color: #AE2519;
    border: none;
    background-color: #F9F8F8;
}

.previewButton:hover {
    text-decoration: underline;
}

.itemButton{
    margin: 0px 10px;
    display: inline-block;
    text-align: center;
}