.pagination {
    text-align: center;
    list-style-type: none;
}

.form {
    display: inline; 
    margin-right: 5px; 
    border: 1px solid #000;
    padding: 3px; 
}

.page {
    text-decoration: none;
    transition: all 250ms;
    display: inline-block;
    line-height: 1;
}
