.navbar {
    margin-bottom: 25px;
    height: 60px;
    display: grid;
    width: 99vw;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.05);

}

.navbar__links {
    margin-right: 20px;
}

.navbar__links__area {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.navbar__catalog {
    margin-top: 5px;
}

.navbar__search {
    margin-top: 5px;
}