* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
}

:root {
  --color-panel-bg: #DB7307;
  --color-active: #AE2519;
  --color-background : #F0E7DB;
}

.navbar__catalog > a {
  color: black;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__catalog > a:hover {
  text-decoration: underline;
}