.form {
    margin-bottom: 45px;
    height: 50px;
    padding: 0px 20px;
    border : 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background-color: #F9F8F8;
}

.form input {

}
