.dot{
    height: 54px;
    width: 54px;
    background-color: #AE2519;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.dot:hover {
    background-color: red;
}

.dot img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: auto !important;
    border: 0;
}