.registerWord {
    text-align: center;
    padding: 0 0 22px;
    font-size: 40px;
}

.bottomLine {
    width: 80px;
    margin: auto;
    background: #000;
}

.bottomLine hr {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 4px;
}

.registerForm {
    align-items: center;
    padding: 50px 100px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.05);
}

.button {
    text-align: center;
}
